@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

main .hero, main .hero h1, main .bucitos h3, main .bucitos .compra-buzos .productos h4, main .bucitos .compra-buzos .productos a, main .mas-sobre-nosotros, main .mas-sobre-nosotros div h2, main .clientes .contenedor-cliente, main .acerca-de h1, main .ubicacion h2 {
  display: flex;
  justify-content: center;
  align-items: center; }

.container-fluid img {
  width: 100px;
  height: 90px; }

.nav-link:hover {
  background-color: #a3a3a3;
  transition: 0,5s;
  border-radius: 10px; }

.form-control:hover {
  background-color: #a3a3a3;
  transition: 2s; }

.btn:hover {
  background-color: #a3a3a3; }

main {
  background-color: #001233;
  /* Estilos para los radio buttons */ }
  main .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.534), rgba(0, 0, 0, 0.507)), url("../img/portada.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column; }
    main .hero h1 {
      font-size: 65px;
      color: #f1faee;
      padding-bottom: 25px;
      animation: animacionTitulo 2s ease-in-out; }

@keyframes animacionTitulo {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
    main .hero p {
      font-size: 30px;
      color: white;
      font-weight: 600;
      text-align: center;
      padding-left: 30px;
      padding-right: 30px; }
  main .bucitos h3 {
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    color: #f1faee;
    background-color: black;
    padding-bottom: 22px; }
  main .bucitos .compra-buzos {
    display: flex;
    justify-content: space-evenly;
    margin: 30px; }
    main .bucitos .compra-buzos .productos {
      width: 250px;
      height: 350px;
      border: 2px white solid;
      -webkit-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
      -moz-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
      box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
      transition: all 0.3s ease; }
      main .bucitos .compra-buzos .productos img {
        width: 100%;
        height: 270px; }
      main .bucitos .compra-buzos .productos h4 {
        font-style: italic;
        font-size: 25px;
        color: aliceblue; }
      main .bucitos .compra-buzos .productos a {
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 3px; }
        main .bucitos .compra-buzos .productos a:hover {
          background-color: #a3a3a3;
          transition: 2s; }
    main .bucitos .compra-buzos .productos:hover {
      transform: scale(1.2); }
  main .mas-sobre-nosotros img {
    width: 500px;
    height: 600px;
    margin: 40px;
    -webkit-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
    transition: transform 0.3s ease; }
  main .mas-sobre-nosotros div h2 {
    font-weight: 600;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: beige;
    border: white solid; }
  main .mas-sobre-nosotros div p {
    font-style: oblique;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    justify-content: center; }
  main .mas-sobre-nosotros img:hover {
    transform: scale(1.1); }
  main .galeria-modelos {
    background-color: white;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    padding-bottom: 60px; }
    main .galeria-modelos .grid-item {
      position: relative; }
      main .galeria-modelos .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: black solid 1px;
        -webkit-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
        box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67); }
      main .galeria-modelos .grid-item h3 {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 30px; }
    main .galeria-modelos .img-4 {
      grid-row: span 2; }
    main .galeria-modelos .img-5 {
      grid-row: span 2; }
    main .galeria-modelos .img-6 {
      grid-row: span 2; }
  main form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px; }
  main label {
    margin-top: 10px;
    color: #f1faee; }
  main input[type="text"],
  main input[type="password"],
  main input[type="email"],
  main textarea {
    margin-top: 5px;
    padding: 5px; }
  main input[type="submit"] {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer; }
  main input[type="submit"]:hover {
    background-color: rgba(160, 159, 159, 0.459); }
  main input[type="radio"] {
    margin-right: 5px; }
  main .titulo-principal h1 {
    color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px; }
  main .no-deliveri {
    text-align: center; }
    main .no-deliveri p {
      font-style: oblique;
      font-weight: 600;
      font-size: 20px;
      color: whitesmoke;
      list-style: armenian;
      text-align: center;
      padding-bottom: 100px;
      padding-top: 100px; }
  main .modelos h1 {
    color: #f1faee;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px; }
  main .clientes .contenedor-cliente img {
    width: 500px;
    height: 600px;
    margin: 40px;
    -webkit-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
    box-shadow: 9px 7px 7px 3px rgba(0, 0, 0, 0.67);
    transition: transform 0.3s ease; }
  main .clientes .contenedor-cliente p {
    font-style: oblique;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    list-style: armenian; }
  main .clientes .contenedor-cliente img:hover {
    transform: scale(1.1); }
  main .acerca-de h1 {
    color: #f1faee;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px; }
  main .ubicacion {
    text-align: center;
    padding-bottom: 20px; }
    main .ubicacion h2 {
      color: #f1faee; }
    main .ubicacion p {
      font-style: oblique;
      font-weight: 600;
      font-size: 20px;
      color: whitesmoke;
      list-style: armenian;
      margin-top: 10px;
      text-align: center; }

footer {
  background-color: grey; }
  footer h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.568);
    color: black; }
  footer .redes {
    display: flex;
    justify-content: center;
    align-items: center; }
  footer section p {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: center; }
  footer section div h3 {
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px; }

@media screen and (max-width: 948px) {
  .galeria-modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    gap: 15px; } }

@media screen and (max-width: 1095px) {
  main .hero p {
    font-size: 23px; }
  main .hero h1 {
    font-size: 40px; }
  main .bucitos .compra-buzos {
    margin: 20px; }
    main .bucitos .compra-buzos .productos {
      width: 200px;
      height: 300px;
      border: 2px white solid; }
      main .bucitos .compra-buzos .productos img {
        width: 100%;
        height: 210px; }
      main .bucitos .compra-buzos .productos h4 {
        font-size: 17px; }
  main .mas-sobre-nosotros img {
    width: 450px;
    height: 550px;
    margin: 35px; }
  main .mas-sobre-nosotros div h2 {
    font-weight: 550;
    font-size: 20px; }
  main .mas-sobre-nosotros div p {
    font-weight: 550;
    font-size: 10px; }
  main .galeria-modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
    gap: 15px; } }

@media screen and (max-width: 847px) {
  main .hero p {
    font-size: 15px; }
  main .bucitos .compra-buzos {
    margin: 10px; }
    main .bucitos .compra-buzos .productos {
      width: 170px;
      height: 270px;
      border: 2px white solid; }
      main .bucitos .compra-buzos .productos img {
        width: 100%;
        height: 170px; }
      main .bucitos .compra-buzos .productos h4 {
        font-size: 17px; }
  main .mas-sobre-nosotros {
    display: flex;
    flex-direction: column; }
  main .mas-sobre-nosotros img {
    width: 420px;
    height: 520px;
    margin: 30px; }
  main .mas-sobre-nosotros div h2 {
    font-weight: 520;
    font-size: 20px; }
  main .mas-sobre-nosotros div p {
    font-weight: 520;
    font-size: 10px; }
  main .galeria-modelos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 100px;
    gap: 15px; }
  main .grid-item h3 {
    bottom: 0;
    width: 100%;
    font-size: 20px; }
  main .clientes .contenedor-cliente {
    display: flex;
    flex-wrap: wrap; }
    main .clientes .contenedor-cliente img {
      width: 300px;
      height: 400px; }
    main .clientes .contenedor-cliente p {
      font-size: 15px;
      text-align: center; } }

@media screen and (max-width: 717px) {
  main .bucitos .compra-buzos {
    margin: 20px;
    display: flex;
    flex-wrap: wrap; }
    main .bucitos .compra-buzos .productos {
      width: 150px;
      height: 260px;
      border: 2px white solid; }
      main .bucitos .compra-buzos .productos img {
        width: 100%;
        height: 150px; }
      main .bucitos .compra-buzos .productos h4 {
        font-size: 15px; }
  main .mas-sobre-nosotros img {
    width: 300px;
    height: 400px;
    margin-top: 40px; }
  main .mas-sobre-nosotros div h2 {
    font-weight: 400;
    font-size: 12px; }
  main .mas-sobre-nosotros div p {
    font-weight: 520;
    font-size: 10px;
    text-align: center; }
  main .galeria-modelos .grid-item h3 {
    bottom: 0;
    width: 100%;
    font-size: 15px; } }

@media screen and (max-width: 619px) {
  main .hero h1 {
    font-size: 20px; }
  footer section p {
    font-size: 15px; }
  footer section div h3 {
    font-size: 20px; } }
