/*----------------reset------------------*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}





/*----------------header--------------------*/
header nav img{
    width: 100px;
    height: 90px;
}






/*----------------------main-------------------*/
main{
    background-color: #001233;
}
.Hero{
    background:linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.507)), url("../img/portada.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.Hero h2 {
    font-size: 65px;
    color:#f1faee;
    display: flex;
    justify-content: center;
    padding-bottom:25px;
}
.Hero p{
    font-size: 30px;
    color:white;
    font-weight: 600;
}
.Bucitos h3{
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
    color: #f1faee;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 22px;
}
.Bucitos .CompraBuzos{
    display: flex;
    justify-content: space-evenly;
    margin: 30px;
    
}
.Productos h4{
    font-style: italic;
    font-size: 25px;
    display: flex;
    justify-content: center;
    color: aliceblue;
}
.Bucitos div .Productos{
    width: 250px;
    height: 350px;
    border: 2px white solid;
    -webkit-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
-moz-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
}
.Bucitos div img{
    width: 100%;
    height: 270px;
}
.Bucitos div a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 3px;
    display: flex;
    justify-content: center;
}
.MasSobreNosotros img{
    width: 500px;
    height: 600px;
    margin: 40px;
    -webkit-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
-moz-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
}
.MasSobreNosotros{
    display: flex;
    justify-content: center;
    align-items: center;
}
.MasSobreNosotros h2{
    font-weight: 600;
    font-style:oblique;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color:beige;
    border: white solid;
    display: flex;
    justify-content: center;
}
.MasSobreNosotros p{
    font-style: oblique;
    font-weight: 600;
    font-size:20px ;
    color: whitesmoke;
    list-style: armenian;
}
.GaleriaModelos{
    background-color: white;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 15px;
    padding-bottom: 60px;
}
.GaleriaModelos div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: black solid 1px;
    -webkit-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
    -moz-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
    box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
}
.img-4{
    grid-row: span 2;
}
.img-5{
    grid-row:span 2 ;
}
.img-6{
    grid-row: span 2;
}
.GridItem{
    position: relative;
}
.GridItem h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-size: 30px;
}



/*-----contacto----*/
.Contacto{
    color: #f1faee;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
}
.ContenedorDeContacto label{
    color: white;
}
.ContenedorDeContacto h2{
    color: #f1faee;
}
.ContenedorDeContacto h3{
    color: #f1faee;
}
.Rellenar{
    text-align: center;
    margin-top: 10px;
    padding-bottom: 20px;
}
.GeneroYComentarios h2{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.527);
}
.Genero{
    text-align: center;
    padding-bottom: 20px;
}
.GeneroYComentarios h3{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.527);
}
.Comentario{
    text-align: center;
    padding-bottom: 50px;
}


/*-------servicios------*/
.TituloPrincipal h1{
    color: #f1faee;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
}
.NoDeliveri p{
    font-style: oblique;
    font-weight: 600;
    font-size:20px ;
    color: whitesmoke;
    list-style: armenian;
    text-align: center;
}
.NoDeliveri{
    text-align: center;
}



/*----productos----*/
.Modelos h1{
    color: #f1faee;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
}
.ContenedorCliente img{
    width: 500px;
    height: 600px;
    margin: 40px;
    -webkit-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
    -moz-box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
    box-shadow: 9px 7px 7px 3px rgba(0,0,0,0.67);
}
.ContenedorCliente{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContenedorCliente p{
    font-style: oblique;
    font-weight: 600;
    font-size:20px ;
    color: whitesmoke;
    list-style: armenian;
}




/*------acerca de------*/
.AcercaDe h1{
    color: #f1faee;
    display: flex;
    justify-content: center;
    background-color: black;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: 800;
    font-size: 30px;
}
.Ubicacion h2{
    display: flex;
    justify-content: center;
    color: #f1faee;
}
.Ubicacion{
    text-align: center;
    padding-bottom: 20px;
}
.Ubicacion p{
    font-style: oblique;
    font-weight: 600;
    font-size:20px ;
    color: whitesmoke;
    list-style: armenian;
    margin-top: 10px;
    text-align: center;
}


/*-----------------------footer------------------*/
footer{
    background-color: grey;
}
footer h2{
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.568);
    color: black;
}
footer p {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

footer h3{
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.Redes{
    display: flex;
    justify-content: center;
}
    





/*---------MEDIA QUERY-----------*/
@media screen and (max-width:948px){
    .GaleriaModelos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 150px;
        gap: 15px;
    }
}



@media screen and (max-width:1095px){
    .Hero p {
        font-size: 23px;
    }
    .Hero h2{
        font-size: 40px;
    }
    .Bucitos h3{
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 16px;
    }
    .Bucitos .CompraBuzos{
        margin: 20px;
        
    }
    .Productos h4{
        font-size: 17px;
    }
    .Bucitos div .Productos{
        width: 200px;
        height: 300px;
        border: 2px white solid;
    }
    .Bucitos div img{
        width: 100%;
        height: 210px;
    }
    .Bucitos div a{
        padding: 3px;
    }
    .MasSobreNosotros img{
        width: 450px;
        height: 550px;
        margin: 35px;
    }
    .MasSobreNosotros h2{
        font-weight: 550;
        font-size: 20px;
    }
    .MasSobreNosotros p{
        font-weight: 550;
        font-size:10px ;
    }
    .GaleriaModelos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 150px;
        gap: 15px;
    }
}



@media screen and (max-width:847px){
    .Hero p {
        font-size: 15px;
    }
    .Hero h2{
        font-size: 40px;
    }
    .Bucitos h3{
        font-weight: 430;
        font-size: 35px;
        padding-bottom: 4px;
    }
    .Bucitos .CompraBuzos{
        margin: 10px;
        
    }
    .Productos h4{
        font-size: 19px;
    }
    .Bucitos div .Productos{
        width: 170px;
        height: 270px;
        border: 2px white solid;
    }
    .Bucitos div img{
        width: 100%;
        height: 170px;
    }
    .Bucitos div a{
        padding: 3px;
    }
    .MasSobreNosotros img{
        width: 420px;
        height: 520px;
        margin: 30px;
    }
    .MasSobreNosotros h2{
        font-weight: 520;
        font-size: 20px;
    }
    .MasSobreNosotros p{
        font-weight: 520;
        font-size:10px ;
    }
    .GaleriaModelos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 100px;
        gap: 15px;
    }
    .GridItem h3{
        bottom: 0;
        width: 100%;
        font-size: 20px;
    }
    .ContenedorCliente p{
    font-size:15px ;
    text-align: center;
    }
    .ContenedorCliente img{
        width: 300px;
        height: 400px;
    }
    .ContenedorCliente{
        display: flex;
        flex-wrap: wrap;
    }
}



@media screen and (max-width:619px){
    .Hero h2{
        font-size: 30px;
    }
}



@media screen and (max-width:717px){
    .Bucitos h3{
        font-weight: 400;
        font-size: 30px;
        padding-bottom: 2px;
    }
    .Bucitos .CompraBuzos{
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
    }
    .Productos h4{
        font-size: 15px;
    }
    .Bucitos div .Productos{
        width: 150px;
        height: 260px;
        border: 2px white solid;
    }
    .Bucitos div img{
        width: 100%;
        height: 150px;
    }
    .Bucitos div a{
        padding: 3px;
    }
    .MasSobreNosotros img{
        width: 200px;
        height: 300px;
        margin-top: 40px;
    }
    .MasSobreNosotros h2{
        font-weight: 400;
        font-size: 12px;
    }
    .MasSobreNosotros p{
        font-weight: 520;
        font-size:10px ;
    }
    .GridItem h3{
        bottom: 0;
        width: 100%;
        font-size: 15px;
    }
}