footer{
    background-color: grey;
    h2{
        font-style: italic;
        font-weight: 500;
        font-size: 40px;
        display: flex;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.568);
        color:nth($colores, 2);
    }
    .redes{
        @include flex (flex, center, center);
    }
    section{
        p{
            display: flex;
            justify-content: center;
            font-style: italic;
            font-weight: 400;
            font-size: 20px;
        }
    }
    section{
        div{
            h3{
                font-style: italic;
                font-weight: 700;
                font-size: 30px;
                display: flex;
                justify-content: center;
                padding-bottom: 15px;
            }
        }
    }
}